body {
    background: whitesmoke;

}

header {
    font-size: large;
    font-weight: 200;
    font-style: normal;
    color: blue;
    margin-left: 14px;
}

header img {
    width: 100%;
    height: 50vh;
    margin: 0;
}


a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   background-color: green;
    display: flex;
    width: 100%;
    align-items: right;
}

 nav li {
    
}

 li a {
    display: block;
    color: white;
    text-align: right;
    padding: 30px 30px;
    text-decoration: none;
}

li a:hover {
    background-color: coral;
}

/* MAIN */
/* ABOUT SECTION */
.about {
    display: flex;
}

.about p {
    font-style: italic;
    font-weight: 300;
    padding: 40px;
    width: 100%;
    font-size: 30px;

}


.about figure {
    border-radius: 65rem;
}

.about figure img {
    border-radius: 65rem;
    right: auto;
    position: relative;
    width: 300px;
    height: 300px;
}

.about figure figcaption {
    text-align: center;
    font-style: normal;
    font-size: large;
    color: #551A8B;
    font-weight: 300;

}

/* PROJECTS */
.projects {
    display: flex;
    border: right;
    
    
    
   

}

.projects h1 {
    color: blue;
    text-align: center;
   
    margin-top: 100px;
}

.project {
    min-height: 200px;
    max-height: 200px;
    background-size: 150%;
    flex-basis: calc(50%-1em);
    padding: 20px;
    display: flex;
    align-items: flex-end;

}

.projects h2 {
    color: blueviolet;
}

.projects p {
    font-weight: bold;
    border: 1px solid lightblue;
    border-radius: 40px;
    margin: 10px;
    width: 300px;
    padding: 2px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.project p:hover {
    color: coral;
}

.experience p {
    color: #551A8B;
    margin-left: 14px;
    font-weight: bold;
    font-size: 1.5em;
}

.experience {

    display: flex;
   
    color: blue;

}

.experience h1 {
    text-align: center;
    font-size: 2em
}

.experience ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: row;
    width: 100%;
   

}

.experience li {
    font-weight: bold;
    border: 1px solid lightblue;
    border-radius: 40px;
    margin: auto;
    width: 200px;
    padding: 2px;
    color: black;
}

li:hover {
    background-color: coral;
}



.section-article {
    text-align: right;
    margin: 15px;
    max-width: 80%;
    font-size: 18px;
    line-height: 32px;
}

footer {
    position: relative;
    width: 100%;
    bottom: -100px;
    background-color: green;
    text-align: center;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
    width: 100%;
    text-align: center;
}

footer p {
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;

}

footer a:hover {
    color: coral;

}
.aside {
    width:30%;
}

.section-right {
    text-align: center;
    margin: auto;
}

@media screen and (max-width: 800px) {
    .projects {
        display: block;
    }
    .experience {
        display: block;
    }
    .aside {
        margin: auto;
    }
}