body {
    background: whitesmoke;
}
header {
    font-size: large;
    font-weight: 200;
    font-style: normal;
    color: blue;
    margin-left: 14px;
}
a{
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
    display: row;
    width: 100%;
}
nav li {
    display: table-cell
}
li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
}
li a:hover {
    background-color: pink;
}
/* MAIN */
/* ABOUT SECTION */
.about {
    display: flex;
}
.about figure {
    border-radius: 65rem;
}
.about figure img {
    border-radius: 65rem;
    right: auto;
    position: relative;
    width: 300px;
    height: 300px;
}
.about figure figcaption {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}
/* PROJECTS */
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project {
    min-height: 200px;
    max-height: 200px;
    background-size: 150%;
    flex-basis: calc(50%-1em);
    padding: 20px;
    display: flex;
    align-items: flex-end;
}
h2 {
    color: blue
}
.experience {
}
h2:hover {
    background-color: azure;
}
.section-article {
    text-align: left;
    margin: 15px;
    max-width: 80%;
    font-size: 18px;
    line-height: 32px;
}
footer {
    position: relative;
    width: 100%;
    bottom: -100px;
    background-color: green;
}
footer a {
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
    width: 100%;
    text-align: center;
}
footer p {
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
footer a:hover {
    color: red;
}
.aside {
    text-align: left;
    padding: 10px;
    position: relative;
    text-decoration: aqua;
    text-transform: capitalize;
    font-size: 18px;
    max-width: 80%;
    font-size: 18px;
}
