body {
    background: whitesmoke;
}
header {
    font-size: large;
    font-weight: 200;
    font-style: normal;
    color: blue;
    margin-left: 14px;
}
a{
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
    display: row;
    width: 100%;
}
nav li {
    display: table-cell
}
li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
}
li a:hover {
    background-color: pink;
}
/* MAIN */
/* ABOUT SECTION */
.about {
    display: flex;
}
.about figure {
    border-radius: 65rem;
}
.about figure img {
    border-radius: 65rem;
    right: auto;
    position: relative;
    width: 300px;
    height: 300px;
}
.about figure figcaption {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}